body {
  display: flex;
  flex-direction: column;
  margin: 0;
  text-align: center;
}

.header {
  background-color: #1F2937;
  display: flex;
  justify-content: space-between;
  flex: 1;
}

.left, .right {
  padding: 50px;
  display: flex;
  justify-content: center;
  align-items: center;

}
.subheader{
  background-color: #1F2937;
  display: flex;
  justify-content: center;
  gap: 50px;
  padding-bottom: 50px;
  margin-bottom: 30px;
}
.sh-left{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15px;

}
.sh-right {
  display: flex;
  align-items: center;
}
.subheader-title{
  font-size: 48px;
  font-weight: 900;
  flex-wrap: wrap;
  color: #F9FAF8;
  align-self: flex-start; /* Add this line */

}
.subheader-text {
  font-size: 18px;
  color: #E5E7EB;
  flex-wrap: wrap;
  align-self: flex-start;
}
.body {
  display: flex;
  flex:1;
  flex-direction: column;
}

.title {
  font-size: 36px;
  font-weight: 900;
  color:#1F2937;
  margin-bottom: 32px;
}

.flex-info {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 52px;
}

.info {
  max-width: 200px;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #E5E7EB;
  background-color: #1F2937;

}

.logo {
  font-size: 24px;
  color: #F9FAF8;
}

ul {
  display: flex ;
  list-style-type: none;
  margin: 0;
  padding: 0;
  gap: 16px
}

a {
  color: #E5E7EB;
  text-decoration: none;
  font-size: 18px;
}

img {
  width: 100px;
  height: 100px;
}